@{
  Layout = "_Layout";
}

@using RecipeBox.Models;
@model IEnumerable<RecipeBox.Models.Ingredient>

<h1>Ingredients for @User.Identity.Name</h1>

@if (Model.Any())
{
  <ul>
    @foreach (Ingredient ingredient in Model)
    {
      <li>@Html.ActionLink($"{ingredient.Name}", "Details", new { id = ingredient.IngredientId })</li>
    }
  </ul>
} 
else
{
  <h3>No Ingredients have been added yet!</h3>
}

<p>@Html.ActionLink("Add new ingredient", "Create")</p>
<p>@Html.ActionLink("Back to Home", "Index", "Home")</p>